################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net5.0
/obj
/BBL.Models/obj
/BBL.Api/obj
/BBL.Api/bin/Debug/net5.0
/BBL.Api/.vs
/BBL.Services/obj
